<p id="notice"><%= notice %></p>



<%= javascript_include_tag "hands/holecards/holecards.js.erb" %>
<div id='holecards' style = "width:760px"></div>

<%= image_tag('hands_days_months_years.png') %>



