
<script type="text/javascript" charset="utf-8">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'percent_winning',
                type: 'column'
            },
            title: {
                text: 'Percent of hands that win money by position'
            },
          
            xAxis: {
                categories: [
              "0 (Small Blind)", "1 (Big Blind)", "2 (UTG)", "3 (UTG+1", "4 (Cut-off)", "5 (Button)"
          ]
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Percent'
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y +' mm';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
                series: [{
                name: 'Winning Percent',
                data: [ 20.710059171597633, 21.301775147928995,33.136094674556216, 30.177514792899407, 40.236686390532544, 54.43786982248521]

    
            }]
        });
    });
    
})
 </script>

<div id='percent_winning' style = "height: 400px"></div>