
<script type="text/javascript" charset="utf-8">
$(function () {
    var chart;
    var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Percent of winning hands by position'
            },
            xAxis: {
                categories: [
                    '0',
                    '1',
                    '2',
                    '3',
                    '4',
                    '5'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Percent'
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return 'At position '+
                        this.x +': '+ this.y +'% of hands make money';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
                series: [{
                name: "Percent of winners",
                data: [ 20.71, 21.30,33.13, 30.17, 40.23, 54.43]
    
            }]
        });
    });
    
})
 </script>

<div id='container' style = "height: 400px"></div>