<div id='percent' class = "span8 graph" style = "height: 400px"></div>
<div class="text">
<h3>Winning Hands Percent</h3>

<p class="main">So you're probably still wondering why I'm winning more money in every position closer to 5 but with my best hands I'm winning the most from positions 0 and 1. It's not that every hand is worth more in each position closer to 5, clearly my best hands are worth more in positions 0 and 1. The reason is the <em>a higher percentage of hands win money</em> in every position closer to 5. This means that I win money with the fewest percent of hands in positions 0 and 1 and the highest percent of hands on position 5. So the cards in your hand matter, but certain cards may be winning in some positions and losing in others. Position is incredibly important</p>

<em>Note</em>
<p>Positions 2 and 3 are definitely off here. I know the real numbers should be more around 20%. I think the reason they're skewed here has to do with some special tables that full tilt used to have. If you played on there and remember the "reserved" tables that players could buy I'm pretty sure those threw off the numbers a bit.</p>

</div>