
<%#=javascript_include_tag("hands/percent/percent_winning.js.erb") %>
<div id='percent' class = "span6" style = "height: 400px"></div>
<%= image_tag("percent_winning_hands_by_pos.png", :class=> "span6", :id=>"positionWinsPic")%>