
<%=javascript_include_tag "hands/winning/winning.js.erb"%>
<div id="tophands" height:400px></div>
<div style = "height: 200px" height:200px>
<%= image_tag("topwinners1.png")%>
<div>
    <div><%= image_tag("bigwinners2.png")%></div>