<h1>Cash Game Winnings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%#= javascript_include_tag "handhistory/winnings/total_winnings.js.erb"%>
<%= image_tag("wsop.png", :class=> "span4", :id=>"wsopMe")%>
<div id="dollars" style = "width:660px; height:380px"></div>

<%= javascript_include_tag "handhistory/winnings/dollars.js.erb"%>

<!-- <div id='winnings_day' style = "width:660px; height:380px"></div> -->


<%= image_tag("totalwinningsgraph.png")%>