<h1>Cash Game Winnings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%#= javascript_include_tag "handhistory/winnings/total_winnings.js.erb" %>

<div id="dollars" class = "span6"></div>

<%#= javascript_include_tag "handhistory/winnings/dollars.js.erb"%>

<div id='winnings_day' class = "span6"></div>


<%= image_tag("totalwinningsgraph.png")%>