<h1>Listing handhistories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= javascript_include_tag "handhistory/winnings/total_winnings.js.erb"%>
<%= javascript_include_tag "handhistory/winnings/dollars.js.erb"%>
<div id="dollars" style = "width:660px; height:380px"></div>
<div id='winnings_day' style = "width:660px; height:380px"></div>


<%= image_tag("totalwinningsgraph.png")%>