<div id = "winnings_by_position" class="graph span8"></div>
<div class="text">
<h3 >It's all about position</h3>


<p class="main">The importance of position is one of the most misunderstood things about poker to an amateur. The position your in matters just as much as the cards you're holding. Poker is a game of incomplete information and the more information you have, the better of a decision you can make. The way poker is structured is such that every position gets to make their decision after the positions before them. So position 1 gets to see what positions 0 does, position 2 gets to see what 0,1 do and 5 gets to see what everyone does before they have to play.</p>



<p class="main">This graph shows the amount of money I've won from every position. Positions 0 and 1 are the two <%= link_to "blinds", "http://en.wikipedia.org/wiki/Blind_(poker)"%> where it's impossible to win money. You're forced to put in money with 100% of hands and play from the worst positions at the table. The goal in these positions is the minimize your losses. Every position after the blinds you should be winning. Since each position is a little better than the one before you should win slightly more in every position and the most at position 5. </p>

<strong><%= link_to "Biggest winners", "/hands/winnings", :class=>"move-text"%></strong>

</div>