// Place all the styles related to the handhistories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#dollars {
 
  float: left;
  margin-bottom: 15px;

}

#winnings_day{
  margin-bottom: 15px;
 
  float:right;
}
#wsopMe{
  

  margin-right: 25px;
}

#dollars{
  
  padding-bottom: 15p;
}